.photo-item {
  width: 100%;
}

.photo-img-container {
  display: flex;
  justify-content: center;
}

.photo-img-container img {
  width: 50%;
}

#home .photo-item h2 {
  margin-bottom: 0.2em;
}

.photo-author {
  text-align: left;
}

.photo-author a {
  font-weight: bold;
}
